{{ range first 4 .Pages }}
<div class="col">
  
    <div class="justify-content-center text-center">
    <a href="{{.RelPermalink}}"
      ><img
        src="{{.Params.image}}"
        height="200px"
        width="200px"
        style=" border-radius:50%;"
        alt={{.Params.Title}}
    /></a>
  </div>

    <div class="card-body text-center">
      <a href="{{.RelPermalink}}" style="color: black; text-decoration:none"
        ><h5 class="card-title mt-2">{{.Params.title}}</h5></a
      >
      <div style="color: #879697" class="py-1 fw-bold">
        {{.Params.description}}
      </div>
      {{/*  <p style="color: #2d2f2f">{{.Params.text}}</p>  */}}
    </div>
  
</div>
{{ end }}
