{{ define "title" }}{{ .Site.Title }}{{ end }} {{ define "description" }}{{
.Site.Params.description }}{{ end }} {{ define "main" }} {{ $dateString :=
.Params.startDate }} {{ $location := "Asia/Kolkata" }}
<!-- Assuming the original date is in Indian Standard Time (IST) -->

{{ $dateObj := time $dateString $location }} {{ $utcDate := $dateObj.UTC }} {{
$formattedDate := dateFormat "2006-01-02T15:04:05Z" $utcDate }} {{
$eventStartDate := dateFormat "20060102T150405Z" $formattedDate }} {{
$dateString := .Params.endDate }} {{ $location := "Asia/Kolkata" }}
<!-- Assuming the original date is in Indian Standard Time (IST) -->

{{ $dateObj := time $dateString $location }} {{ $utcDate := $dateObj.UTC }} {{
$formattedDate := dateFormat "2006-01-02T15:04:05Z" $utcDate }} {{ $eventendDate
:= dateFormat "20060102T150405Z" $formattedDate }} {{ $title := ""}} {{
$recentPage := first 1 (where .Site.Pages "Section" "meetups") }} {{ range
$recentPage }} {{ $title = .Title }} {{ end }}

<div class="event-hero-unit">
  <div class="event-background">
    <div
      class="event-hero-unit-content d-flex align-items-center justify-content-center"
    >
      <div class="text-center mb-3 pt-4">
        <div class="rt-branding my-4">
          <h4 class="fb">RAJKOT TECH</h4>
        </div>
        <h4 class="tu">MEETUP</h4>
        <h1 class="meetup-name tu fb">{{ .Title }}</h1>
        <div class="date-time">
          <time class="tu">{{ .Params.meetupDate }}</time>
          <address>{{ .Params.address }}.</address>
        </div>
        {{ if eq .Title $title }} {{ if gt (time .Params.endDate) now }}
        <a
          href="{{.Params.buyTicket}}"
          class="mb-3 btn btn-lg btn-success"
          target="_blank"
          >Buy Ticket</a
        >
        {{ else }}
        <span class="py-2 mb-3 px-3 event-end badge rounded-pill bg-danger"
          >Event Ended</span
        >
        {{ end }} {{ else }}
        <span class="py-2 mb-3 px-3 event-end badge rounded-pill bg-danger"
          >Event Ended</span
        >
        {{ end }}
        <h5 class="text-center mb-3">
          <a
            style="color: white"
            href="https://calendar.google.com/calendar/render?action=TEMPLATE&dates={{$eventStartDate}}%2F{{$eventendDate}}&details={{.Content}}&location={{.Params.address}}&text={{.Params.title}}"
            >Add to Calendar</a
          >
        </h5>
        <div>{{ partial "share-button.html" . }}</div>
      </div>
    </div>
  </div>
</div>

<div style="background-color: #f5f5f5">
  <div>
    <h2 class="text-center tu fb py-3 pt-5">About</h2>
    <div class="container pb-3">
      <div class="row justify-content-center">
        <div class="about-meetup-text">
          <p>{{ .Content }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="pb-3">
  <div class="speakers">
    <h2 class="text-center tu fb py-3 pt-5">Talks</h2>
    <div
      class="container-fluid bg-trasparent my-4 p-3"
      style="position: relative; max-width: 1200px"
    >
      <!-- <div
        class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-3 g-4 justify-content-center"
      > -->
      {{ $speakers := where .Site.Pages "Section" "speakers" }} {{ range
      .Params.talk }} {{ $path := .path }} {{ with site.GetPage $path }}

      <div class="card mb-5" style="font-size: 18px">
        <div class="card-header p-4">
          <b>{{.Title}}</b>
        </div>
        <div class="card-body">
          <p class="card-text my-3">{{.Content}}</p>

          <ul class="align-items-center alignment-speakers">
            <li class="pr-4 pb-2">
              <h5 style="font-weight: 700">Speakers:</h5>
            </li>
            {{ range .Params.speakers }} {{ $path := .path }} {{ with
            site.GetPage $path }}

            <li class="px-2 pb-2">
              <div
                style="background-color: #f8f8f8"
                class="p-2 align-items-center"
              >
                <a
                  href="{{.Permalink}}"
                  class="d-flex align-items-center"
                  style="
                    background-color: #f8f8f8;
                    color: black;
                    text-decoration: none;
                  "
                >
                  <div class="p-2">
                    {{ $image := resources.Get .Params.image }} {{
                    $image := $image.Resize "350x webp" }} {{ with $image }}
                    <img
                      src="{{ .RelPermalink }}"
                      height="75"
                      width="75"
                      style="border-radius: 50px; object-fit: cover"
                    />
                    {{ end }}
                  </div>
                  <div class="align-items-center d-flex p-2">
                    <b class="speaker-name">{{.Params.title}}</b>
                  </div>
                </a>
              </div>
            </li>
            {{ end }}{{ end }}
          </ul>
        </div>
      </div>
      {{ end }} {{ end }}
    </div>
  </div>
</div>

<div class="pb-3" style="background-color: #f5f5f5">
  <div class="py-5" id="memories">
    <div class="container">
      <h2 class="text-center tu fb py-3">Gallery</h2>

      <div class="photo-gallery">
        <div class="container">
          <div class="row photos">
            {{ with .Params.gallery }} {{ range $index, $gallery := . }}
            <div class="col-sm-6 col-md-4 col-lg-3 item">
              <a href='{{ index $gallery "name" }}' data-lightbox="photos"
                ><img
                  style="object-fit: cover"
                  class="img-fluid"
                  src='{{ index $gallery "name" }}'
              /></a>
            </div>
            {{ end }}{{ end }}
          </div>
        </div>
      </div>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>
</div>

<div class="pb-3">
  <div class="container">
    <h2 class="text-center tu fb py-3 pt-5">Location</h2>
    <div class="text-center">
      <p style="color: #666a6a">
        <img src="/images/location.svg" alt="location" /> {{.Params.address}}
      </p>
      <iframe
        src="{{.Params.locationOnMap}}"
        width="600"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</div>

{{ end }}
