.social {
  color: #606060;
  padding: 0.5rem 1rem;
  background-color: #eee;
}

.event-background {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("/images/cover-bg.jpg");
}

.event-hero-unit-content {
  width: 100%;
  color: white;
  height: fit-content;
  background-color: #000000b3;
}

.rt-branding {
  padding: 15px;
  display: inline-block;
  border: 3px solid white;
}

.rt-branding h4 {
  margin: 0;
  color: white;
  font-size: 1.1rem;
  display: inline-block;
}

.meetup-name {
  font-size: 3rem;
}

.date-time {
  margin-top: 1.5rem;
}

.date-time time {
  font-size: 2rem;
}

.date-time address {
  font-size: 1.2rem;
}

.submit-talk {
  margin: 0 15px;
  max-width: 500px;
  font-size: 1.1rem;
}

.past-meetup-title {
  background-image: linear-gradient(-225deg, #e3fdf5 0%, #ffe6fa 100%);
}

.label-top {
  position: absolute;
  /* background-color: #8bc34a; */
  color: #fff;
  top: 8px;
  right: 8px;
  padding: 5px 10px 5px 10px;
  font-size: 0.7rem;
  font-weight: 600;
  border-radius: 3px;
  text-transform: uppercase;
}

.about-meetup {
  background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
}


.about-meetup-text {
  max-width: 505px !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.tag-position {
  position: absolute;
  transform: rotate(12deg);
  right: -15px;
  top: -17px;
  font-size: 15px;
  border-radius: 15px;
}

.photo-gallery h2 {
  font-weight:bold;
  margin-bottom:40px;
  padding-top:40px;
  color:inherit;
}

@media (max-width:767px) {
  .photo-gallery h2 {
    margin-bottom:25px;
    padding-top:25px;
    font-size:24px;
  }
}

.photo-gallery .intro {
  font-size:16px;
  max-width:500px;
  margin:0 auto 40px;
}

.photo-gallery .intro p {
  margin-bottom:0;
}

.photo-gallery .photos {
  padding-bottom:20px;
}

.photo-gallery .item {
  padding-bottom:30px;
}

iframe{
  width: 100%;
}

.alignment-speakers{
  list-style-type: none; 
  display: flex;
}

@media only screen and (max-width: 600px) {
  .alignment-speakers {
    display: block;
  }
}

.speaker-name:hover{
   text-decoration: underline;
}
.image-position{
  text-align: right;
}

@media only screen and (max-width: 780px) {
  .image-position{
    text-align: center;
  }
}


.photo-gallery h2 {
  font-weight:bold;
  margin-bottom:40px;
  padding-top:40px;
  color:inherit;
}

@media (max-width:767px) {
  .photo-gallery h2 {
    margin-bottom:25px;
    padding-top:25px;
    font-size:24px;
  }
}

.photo-gallery .intro {
  font-size:16px;
  max-width:500px;
  margin:0 auto 40px;
}

.photo-gallery .intro p {
  margin-bottom:0;
}

.photo-gallery .photos {
  padding-bottom:20px;
}

.photo-gallery .item {
  padding-bottom:30px;
}

.pages-display{
  display: flex;
}

@media only screen and (max-width: 500px) {
  .pages-display{
    display: block;
  }
}
