.social {
  color: #606060;
  padding: 0.5rem 1rem;
  background-color: #eee;
}

.event-background {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("/images/cover-bg.jpg");
}

.event-hero-unit-content {
  width: 100%;
  color: white;
  height: fit-content;
  background-color: #000000b3;
  min-height: calc(100vh - 98px);
}

.rt-branding {
  padding: 15px;
  margin-bottom: 5rem;
  display: inline-block;
  border: 3px solid white;
}

.rt-branding h4 {
  margin: 0;
  color: white;
  font-size: 1.1rem;
  display: inline-block;
}

.meetup-name {
  font-size: 3rem;
}

.date-time {
  margin-top: 1.5rem;
}

.date-time time {
  font-size: 2rem;
}

.date-time address {
  font-size: 1.2rem;
}


.event-hero-unit-content .event-end {
  margin-bottom: 3rem;
}

.submit-talk {
  margin: 0 15px;
  max-width: 500px;
  font-size: 1.1rem;
}

.past-meetup-title {
  background-image: linear-gradient(-225deg, #e3fdf5 0%, #ffe6fa 100%);
}





.card {
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
}

.card h5 {
  overflow: hidden;
  font-weight: 900;
  font-size: 1rem;
}
.card-img-top {
  max-height: 180px;
  object-fit: contain;
}
.card h2 {
  font-size: 1rem;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}
.label-top {
  position: absolute;
  background-color: #8bc34a;
  color: #fff;
  top: 8px;
  right: 8px;
  padding: 5px 10px 5px 10px;
  font-size: 0.7rem;
  font-weight: 600;
  border-radius: 3px;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .card-img-top {
    max-height: 250px;
  }
}

.btn-warning {
  box-shadow: -1px 6px 19px rgba(247, 129, 10, 0.25);
}

.btn-warning:hover {
  background: none #ff962b;
  color: #ffffff;
  box-shadow: -1px 6px 13px rgba(255, 150, 43, 0.35);
}
.bg-success {
  font-size: 1rem;
  background-color: #f7810a !important;
}
.bg-danger {
  font-size: 1rem;
}

.fa-question-circle:before {
  color: darkgray;
}
.fa-plus:before {
  color: darkgray;
}



