:root {
  --brand-color: #ffc107;
  --box-shadow: 1px 5px 20px #ccc;
}

.py-5rem {
  padding: 5rem 0;
}

.my-5rem {
  margin: 5rem 0;
}

.tu {
  text-transform: uppercase;
}

.tc {
  text-transform: capitalize;
}

.fb {
  font-weight: bold;
}

.bl5 {
  border-left: 5px solid var(--brand-color);
}

.bs-ccc {
  box-shadow: var(--box-shadow);
}

.fwb {
  font-weight: bold;
}
