{{ define "title" }}{{ .Site.Title }}{{ end }} {{ define "description" }}{{
.Site.Params.description }}{{ end }} {{ define "main" }}

<div>
  <div class="event-hero-unit">
    <div class="event-background">
      <div class="event-hero-unit-content d-flex align-items-center justify-content-center" style="height: 400px">
        <div class="text-center">
          <div class="rt-branding my-4">
            <h4 class="fb h4">RAJKOT TECH</h4>
          </div>

          <div class="submit-talk">
            <p>
              We will be announcing our next meetup / workshop soon. Meanwhile,
              if you want to speak on a topic or want to take a workshop
              <a href="https://forms.gle/DHHBgtPjTd5Gm4hL6" target="_blank" rel="noopener noreferrer">
                <button class="btn btn-warning btn-sm px-2" style="--bs-btn-padding-x: -1">
                  <b>Submit Your Proposal</b>
                </button>
              </a>
              else if you want to request a workshop or a talk on a specific topic
              <a href="https://forms.gle/R1P5nUsSZVWVThwx7" target="_blank" rel="noopener noreferrer">
                <button class="btn btn-warning btn-sm px-2" style="--bs-btn-padding-x: -1">
                  <b>Let Us Know</b>
                </button>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div style="background-color: #f5f5f5">
  <div>
    <h2 class="text-center tu fb py-3 pt-5">About</h2>
    <div class="container pb-3">
      <div class="row justify-content-center">
        <div class="about-meetup-text-home">
          <p>
            We are a group of people who have successfully arranged various
            Laravel related Meetups in the Rajkot for the last one year. After
            all these Meetups we felt that technology Meetups can’t be
            restricted to one single technology. There should be no boundaries
            in technologies as technology is just a tool that can help to solve
            any real-world problem. We have come to an idea of this Rajkot.Tech
          </p>
          <h3 class="h4">How will it work?</h3>
          <p>
            We will take interest from developers of Rajkot and do Meetups
            accordingly. For now, we have done all Meetups around the Laravel
            ecosystem, now if we come to know developers love to arrange Meetups
            for python and we have speakers for the same, it will happen the
            next time. There will be no restriction on the technology as far as
            enough developers are ready to make it happen. Rajkot.tech will
            provide an opportunity to arrange Meetups on various technologies in
            a single platform.
          </p>
          <h3 class="h4">How can you contribute to Rajkot.tech?</h3>
          <p>Spreading news of Rajkot.tech to your fellow developer friends</p>
          <p>Becoming a speaker</p>
          <p>
            Participating in various activities of the Meetup. (I.e. finding
            speakers, ticket setup, social media news spread, venue and timing
            arrangements, scheduling, snacks, whole management)
          </p>
          <p>Requesting Meetup topic</p>
          <p>Adding more ideas here :)</p>
        </div>
        <div class="row mt-5 pt-3 mb-5">
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 text-center">
            <img src="/images/goal.png" height="50" width="50" alt="goal" />
            <h3 class="mt-3">Our Goal</h3>
            <p>To unite techworms to find others who share their passion.​</p>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 text-center">
            <img src="/images/mission.png" height="50" width="50" alt="mission" />
            <h3 class="mt-3">Our Mission</h3>
            <p>Provide an opportunity to gain and share knowledge among software technology enthusiasts in the Rajkot.</p>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 text-center">
            <img src="/images/vision.png" height="50" width="50" alt="vision" />
            <h3 class="mt-3">Our Vision</h3>
            <p>Build a knowledge-exchange platform for all technology lovers.</p>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 text-center">
            <img src="/images/context.png" height="50" width="50" alt="context" />
            <h3 class="mt-3">Our Context</h3>
            <p >Knowledge Sharing & Discovering.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <div class="mb-4">
    <h4 class="text-center tu fb py-2 pt-5 h2">Meetups</h4>
    <div class="container pb-5">
      <div class="row justify-content-center">
        <div class="about-meetup-text"></div>
        <div
          class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-3 g-4"
        >
          {{ $meetupsPaginator := .Paginate (where .Site.RegularPages "Section"
          "meetups") }} {{ partial "meetups/home-meetup.html" . }}
        </div>
      </div>
      <div class="text-center mt-4">
        <a href="/meetups" class="btn btn-success">View more</a>
      </div>
    </div>
  </div>
</div>

<div style="background-color: #f5f5f5">
  <div class="mb-4">
    <h4 class="text-center tu fb py-2 pt-5 h2">Past Speakers</h4>
    <div class="container pb-5">
      <div class="row justify-content-center">
        <div class="about-meetup-text"></div>
        <div
          class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 justify-content-center"
        >
          {{/* {{ $speakersPaginator := .Paginate (where .Site.Pages "Section"
          "speakers") }} {{ partial "speakers/list.html" . }} */}} {{ $perpage
          := 5 }} {{ range (last $perpage (first (mul $.Paginator.PageNumber
          $perpage) (where .Data.Pages "Section" "speakers"))) }} {{ partial
          "speakers/home-speaker.html" . }} {{ end }}
        </div>
      </div>
    </div>
    <div class="text-center pb-5">
      <a href="/speakers" class="btn btn-success">View more</a>
    </div>
  </div>
</div>

<div class="pb-3">
  <div class="py-5" id="memories">
    <div class="container">
      <h4 class="text-center tu fb py-3 h2">Gallery</h4>

      <div class="photo-gallery">
        <div class="container">
          <div class="row photos">
            <div class="col-sm-6 col-md-4 col-lg-3 item">
              <a href="/images/home-gallery/image1.jpeg" data-lightbox="photos" title="home-gallery"
                >
                {{ $image := resources.Get "/images/home-gallery/image1.jpeg" }} {{ $image :=
                  $image.Resize "550x webp" }} {{ with $image }}
                  <img
                    src="{{ .RelPermalink }}"
                    class="img-fluid"
                    height="225" 
                    width="300" 
                    alt="home-gallery | Rajkot tech"
                  />
                  {{ end }}
              </a>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 item">
              <a href="/images/home-gallery/image2.jpeg" data-lightbox="photos" title="home-gallery"
                >
                {{ $image := resources.Get "/images/home-gallery/image2.jpeg" }} {{ $image :=
                  $image.Resize "550x webp" }} {{ with $image }}
                  <img
                    src="{{ .RelPermalink }}"
                    class="img-fluid" 
                    height="225" 
                    width="300" 
                    alt="home-gallery | Rajkot tech"
                  />
                  {{ end }}
              </a>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 item">
              <a href="/images/home-gallery/image3.jpg" data-lightbox="photos" title="home-gallery"
                >
                {{ $image := resources.Get "/images/home-gallery/image3.jpg" }} {{ $image :=
                  $image.Resize "550x webp" }} {{ with $image }}
                  <img
                    src="{{ .RelPermalink }}"
                    class="img-fluid"
                    height="225" 
                    width="300"  
                    alt="home-gallery | Rajkot tech"
                  />
                  {{ end }}
              </a>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 item">
              <a href="/images/home-gallery/image4.jpg" data-lightbox="photos" title="home-gallery"
                >
                {{ $image := resources.Get "/images/home-gallery/image4.jpg" }} {{ $image :=
                  $image.Resize "550x webp" }} {{ with $image }}
                  <img
                    src="{{ .RelPermalink }}"
                    class="img-fluid"
                    height="225" 
                    width="300"  
                    alt="home-gallery | Rajkot tech"
                  />
                  {{ end }}
              </a>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 item">
              <a href="/images/home-gallery/image5.jpg" data-lightbox="photos" title="home-gallery"
                >
                {{ $image := resources.Get "/images/home-gallery/image5.jpg" }} {{ $image :=
                  $image.Resize "550x webp" }} {{ with $image }}
                  <img
                    src="{{ .RelPermalink }}"
                    class="img-fluid" 
                    height="225" 
                    width="300" 
                    alt="home-gallery | Rajkot tech"
                  />
                  {{ end }}
              </a>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 item">
              <a href="/images/home-gallery/image6.jpg" data-lightbox="photos" title="home-gallery"
                >
                {{ $image := resources.Get "/images/home-gallery/image6.jpg" }} {{ $image :=
                  $image.Resize "550x webp" }} {{ with $image }}
                  <img
                    src="{{ .RelPermalink }}"
                    class="img-fluid" 
                    height="225" 
                    width="300" 
                    alt="home-gallery | Rajkot tech"
                  />
                  {{ end }}
              </a>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 item">
              <a href="/images/home-gallery/image7.jpg" data-lightbox="photos" title="home-gallery"
                >
                {{ $image := resources.Get "/images/home-gallery/image7.jpg" }} {{ $image :=
                  $image.Resize "550x webp" }} {{ with $image }}
                  <img
                    src="{{ .RelPermalink }}"
                    class="img-fluid" 
                    height="225" 
                    width="300" 
                    alt="home-gallery | Rajkot tech"
                  />
                  {{ end }}
              </a>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 item">
              <a href="/images/home-gallery/image8.jpg" data-lightbox="photos" title="home-gallery"
                >
                {{ $image := resources.Get "/images/home-gallery/image8.jpg" }} {{ $image :=
                  $image.Resize "550x webp" }} {{ with $image }}
                  <img
                    src="{{ .RelPermalink }}"
                    class="img-fluid" 
                    height="225" 
                    width="300" 
                    alt="home-gallery | Rajkot tech"
                  />
                  {{ end }}
              </a>
            </div>
          </div>
        </div>
      </div>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>
</div>

<div style="background-color: #f5f5f5">
  <div>
    <h4 class="text-center tu fb py-3 pt-5 h2">Core Volunteers</h4>
    <div class="container-fluid pb-3">
      <div class="row justify-content-center">
        {{range where .Site.Pages "Section" "volunteers"}} {{if eq .RelPermalink
        "/volunteers/"}} {{else}}
        <div class="col-sm-6 col-xs-2 col-md-4 col-lg-2 mt-4">
          <div class="justify-content-center text-center">
            {{ $image := resources.Get .Params.image }} {{ $image :=
              $image.Resize "550x webp" }} {{ with $image }}
              <img
                src="{{ .RelPermalink }}"
                height="200px"
                width="200px"
                style="object-fit: cover; border-radius:50%;"
                alt="{{.Params.metaTitle}}"
              />
              {{ end }}
          </div>

          <div class="card-body">
           <div class="text-center justify-content-center mt-2 px-5">
                <h5 class="card-title">{{.Title}}</h5>
                <div class="text-center d-flex justify-content-center mt-2 mb-4">
                  <a href="{{.Params.linkedin}}"
                    ><img src="/images/linkedin.svg" height="25" width="25" alt="linkedin" class=""
                  /></a>
                  <a href="{{.Params.twitter}}"
                    ><img src="/images/twitter.svg" alt="twitter" height="25" width="25" class="mx-2"
                  /></a>
                </div></div
            ></a>
            <div class="py-1 px-5">{{.Content}}</div>
          </div>
        </div>
        {{ end }} {{ end }}
      </div>
    </div>
  </div>
</div>

<div>
  <div>
    <h4 class="text-center tu fb py-3 pt-5 h2">Contact Us</h4>
    <div class="container pb-3">
      <div class="row justify-content-center">
        <div class="about-meetup-text text-center">
          <div class="text-center">
            <h4 class="pt-3">You want to Submit a Talk</h4>
            <a
              href="https://forms.gle/DHHBgtPjTd5Gm4hL6"
              target="_blank"
              class="text-center fw-bold btn btn-success px-5 mt-1 mb-3"
              >Submit a Talk</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{ end }}
