{{ range .Pages }}
<div class="col">
  <div class="card h-100 shadow-sm" style="position: relative">
    <img src="{{.Params.image}}" class="card-img-top" alt="..." />

    <div class="card-body">
      <div class="clearfix mb-3">
        <span class="float-start badge rounded-pill bg-success"
          >{{.Params.meetupDate}}</span
        >
      </div>
      <div class="label-top shadow-sm tag-position">{{.Params.meetup}}</div>
      <h5 class="card-title">{{.Params.title}}</h5>
      <div style="color: #899fa0" class="py-1">{{.Params.address}}</div>
      <p style="color: #666a6a">
        <img src="/images/ticket.svg" alt="ticket" /> INR 100 to 150
      </p>
      <a href="{{ .Permalink }}">Read more</a>
    </div>
  </div>
</div>
{{ end }}
