{{ define "title" }}{{ .Site.Title }}{{ end }} {{ define "description" }}{{
.Site.Params.description }}{{ end }} {{ define "main" }} {{ $currentSpeaker :=
.Title }} {{ $talks := where .Site.Pages "Section" "talks" }} {{ $relatedtalks
:= slice }} {{ range $talks }} {{ $talkSpeakers := .Params.speakers }} {{ $found
:= false }} {{ range $talkSpeakers }} {{ if eq .name $currentSpeaker }} {{
$found = true }} {{ end }} {{ end }} {{ if $found }} {{ $relatedtalks =
$relatedtalks | append . }} {{ end }} {{ end }}

<div class="event-hero-unit">
  <div class="event-background">
    <div
      class="event-hero-unit-content d-flex align-items-center justify-content-center"
    >
      <div class="text-center mb-3 pt-4">
        <div class="rt-branding my-4">
          <h4 class="fb">RAJKOT TECH</h4>
        </div>
        <h4 class="tu">SPEAKER</h4>
      </div>
    </div>
  </div>
</div>

<div style="background-color: #f5f5f5">
  <div class="container mb-5 pb-5">
    <div class="row align-items-center">
      <div
        class="col-md-6 col-xs-12 col-lg-5 image-position"
      >
        <div class="mt-5 pt-4">
          <figure>
            <img height="300px" src="{{.Params.image}}" alt="{{ .Title }}" />
          </figure>
        </div>
      </div>
      <div class="col-md-6 col-xs-12 col-lg-7">
        <div class="speakers-content">
          <h2 class="title d-flex mt-5 pt-4">
            {{.Title }}
            <div class="">
              <!-- share button start -->
              {{/* Config */}} {{ $switches := (dict "facebook" true "twitter"
              true "linkedin" true "whatsapp" true "xing" true "mail" true ) }}
              {{ $color := "#0077b5" }} {{ $textcolor := "#bbb" }} {{
              $hoverColor := "#444444" }} {{/* Code */}} {{ $url := printf "%s"
              .Permalink | absLangURL }} {{ $textBody := print .Title "\n\n"
              (.Summary | truncate 200) "\n\n" $url "\n" }} {{ $encodedSummary
              := strings.TrimPrefix "=" (querify "" (.Summary | truncate 200))
              }}
              <nav class="sharebuttons">
                <div>
                  <ul style="padding-left: 0">
                    {{ if $switches.linkedin }}
                    <li>
                      <a
                        href="https://www.linkedin.com/shareArticle?mini=true&url={{ $url }}&title={{ .Title }}&summary={{ $encodedSummary }}"
                        target="_blank"
                        ><svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="25"
                          height="25"
                          viewBox="7.025 7.025 497.951 497.95"
                          id="linkedin"
                        >
                          <linearGradient
                            id="a"
                            x1="-974.482"
                            x2="-622.378"
                            y1="1306.773"
                            y2="1658.877"
                            gradientTransform="translate(1054.43 -1226.825)"
                            gradientUnits="userSpaceOnUse"
                          >
                            <stop offset="0" stop-color="#2489be"></stop>
                            <stop offset="1" stop-color="#0575b3"></stop>
                          </linearGradient>
                          <path
                            fill="url(#a)"
                            d="M256 7.025C118.494 7.025 7.025 118.494 7.025 256S118.494 504.975 256 504.975 504.976 393.506 504.976 256C504.975 118.494 393.504 7.025 256 7.025zm-66.427 369.343h-54.665V199.761h54.665v176.607zM161.98 176.633c-17.853 0-32.326-14.591-32.326-32.587 0-17.998 14.475-32.588 32.326-32.588s32.324 14.59 32.324 32.588c.001 17.997-14.472 32.587-32.324 32.587zm232.45 199.735h-54.4v-92.704c0-25.426-9.658-39.619-29.763-39.619-21.881 0-33.312 14.782-33.312 39.619v92.704h-52.43V199.761h52.43v23.786s15.771-29.173 53.219-29.173c37.449 0 64.257 22.866 64.257 70.169l-.001 111.825z"
                          ></path>
                        </svg>
                      </a>
                    </li>
                    {{ end }}
                  </ul>
                </div>
              </nav>
              <style>
                .sharebuttons, .sharebuttons ul {display: flex; margin: 0.15rem 0; align-items: center;}
                .sharebuttons span {color: {{ $textcolor }};}
                .sharebuttons ul li {list-style: none; margin: 0;}
                .sharebuttons ul li a {margin: 0 0.5rem; display: block;}
                .sharebuttons ul li:first-child a {margin: 0 0.2rem 0 0.5rem;}
                .sharebuttons ul li a svg {width: auto;  display: block;}
                .will-change {transition: 250ms;}
                nav.sharebuttons li > a:hover .will-change { fill: #198754 }
              </style>

              <!-- share button end -->
            </div>
          </h2>

          <h4 class="subtitle" style="color: rgb(176, 176, 175)">
            {{ .Params.description }}
          </h4>

          <p>{{ .Content }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="pb-3">
  <div class="speakers">
    <h2 class="text-center tu fb py-3 pt-5">Talks</h2>
    <div
      class="container-fluid bg-trasparent my-4 p-3"
      style="position: relative; max-width: 1200px"
    >
      <!-- <div
        class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-3 g-4 justify-content-center"
      > -->

      {{ range $relatedtalks }}

      <div class="card mb-5" style="font-size: 18px">
        <div class="card-header p-4 d-flex">
          <div class="flex-grow-1">
            <b>{{.Title}}</b>
          </div>

          {{ $currentTalk := .Title }} {{ $meetups := where .Site.Pages
          "Section" "meetups" }} {{ $relatedmeetups := slice }} {{ range
          $meetups }} {{ $meetupTalk := .Params.talk }} {{ $found := false }} {{
          range $meetupTalk }} {{ if eq .name $currentTalk }} {{ $found = true
          }} {{ end }} {{ end }} {{ if $found }} {{ $relatedmeetups =
          $relatedmeetups | append . }} {{ end }} {{ end }} {{ range
          $relatedmeetups }}
          <a href="{{ .RelPermalink }}" class="text-end fw-bold text-black"
            >{{ .Title }}</a
          >
          {{ end }}
        </div>
        <div class="card-body">
          <p class="card-text my-3">{{.Content}}</p>

          <ul class="align-items-center alignment-speakers">
            <li class="pr-4 pb-2">
              <h5 style="font-weight: 700">Speakers:</h5>
            </li>
            {{ range .Params.speakers }} {{ $speakerPath := .speakerPath }} {{
            with site.GetPage $speakerPath }}
            <li class="px-2 pb-2">
              <div
                style="background-color: #f8f8f8"
                class="p-2 align-items-center"
              >
                <a
                  href="{{.RelPermalink}}"
                  class="d-flex align-items-center"
                  style="
                    background-color: #f8f8f8;
                    color: black;
                    text-decoration: none;
                  "
                >
                  <div class="p-2">
                    <img
                      src="{{.Params.image}}"
                      height="75"
                      width="75"
                      style="border-radius: 50px"
                    />
                  </div>
                  <div class="align-items-center p-2">
                    <b class="speaker-name">{{.Params.title}}</b>
                    <p>{{.Params.description}}</p>
                  </div>
                </a>
              </div>
            </li>
            {{ end }}{{ end }}
          </ul>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</div>

{{ end }}
